/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-grey: #f0f0f0;
  --border-grey: #bbbbbb;
  --grey: #333;
  --grey-light: #777;
  --grey-light-2: #ccc;
  --grey-light-3: #eee;
  --tibame-blue: #09adbf;
  --color-orange: #ff8d0b;
  --color-purple: #9024ce;
  --color-green: #2fc436;
  --color-blue: #2626e5;
  --color-red: #cc3300;
}

body {
  color: var(--grey);
}

button {
  display: block;
  border: none;
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none;
  color: var(--grey);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}
/* Reset */

/* Base */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.heading_secondary {
  font-size: 28px;
}

.heading_tertiary {
  font-size: 18px;
}

.link-more {
  text-align: right;
}

.link-more a {
  font-size: 16px;
  font-weight: 600;
  color: var(--tibame-blue);
  display: inline-block;
}
/* Base */

/* Navigation */
.navigation {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-grey);
  background-color: #fff;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 99;
}

.navigation_logo {
  width: 100px;
  height: 30px;
  margin-right: 20px;
}

.navigation_content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation_list {
  height: 100%;
  display: flex;

  font-size: 16px;
}

.navigation_item {
  height: 100%;
  padding: 0px 8px;
  display: flex;
  align-items: center;

  position: relative;
}

.navigation_link {
  transition: color 0.3s ease;
}

.navigation_item:hover .navigation_link {
  color: var(--tibame-blue);
}

.navigation_search {
  margin-left: auto;
}

.navigation_search_form {
  position: relative;
}

.navigation_search_button {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  color: var(--grey-light);
}

.navigation_search_input {
  font-size: 16px;
  width: 100%;
  padding: 10px 20px;
  padding-left: 30px;
  border: none;
  border-radius: 6px;
  background-color: var(--bg-grey);
}

.navigation_search_input::placeholder {
  color: var(--grey-light);
}

.navigation_search_input:focus {
  outline: 1px solid var(--tibame-blue);
}

.navigation_search_hot {
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  display: none;

  position: absolute;
  z-index: 3;
}

.navigation_search_input:focus + .navigation_search_hot {
  display: block;
}

.navigation_search_hot_title {
  font-size: 14px;
  font-weight: 600;
  color: var(--grey-light);
  margin-bottom: 20px;
}

.navigation_search_hot_title span i {
  margin-right: 8px;
}

.navigation_search_hot_tags {
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
}

.navigation_search_hot_tag_link {
  padding: 4px 8px;
  border-radius: 20px;
  background-color: var(--grey-light-3);
}

.navigation_search_hot_tag_link:hover {
  color: #fff;
  background-color: var(--tibame-blue);
}

.navigation_login_link {
  font-size: 16px;
  color: var(--tibame-blue);
  margin-left: 30px;
}

.navigation_login:hover .navigation_login_link {
  color: var(--grey);
}

.navigation_register {
  margin-left: 30px;
}

.navigation_register_link {
  color: #fff;
  padding: 8px 16px;
  border-radius: 7px;
  background-color: var(--tibame-blue);
}

.navigation_register:hover .navigation_register_link {
  background-color: #089dad;
}
/* Navigation */

/* Courses Drop Down */
.navigation_courses-drop-down {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 99;

  width: 950px;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
  display: flex;
}

.navigation_courses-drop-down--hidden {
  display: none;
}

.navigation_item:nth-child(1):hover .navigation_courses-drop-down--hidden {
  display: flex;
}

.courses-drop-down_invisible-overlay {
  position: absolute;
  top: -30px;
  left: 0;
  width: 80%;
  height: 30px;
  background-color: transparent;

  /* background-color: red; */
}

.courses-drop-down_header_secondary {
  font-size: 24px;
  font-weight: 600;
}

.courses-drop-down_header_tertiary {
  font-size: 18px;
}

.courses-drop-down_col {
  flex-grow: 1;
  padding: 20px;
  padding-top: 50px;
}

.courses-drop-down_col:nth-child(3) {
  background-color: var(--grey-light-3);
}

.courses-drop-down_title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--border-grey);

  position: relative;
}

.courses-drop-down_title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.5px;
  width: 20%;
}

.courses-drop-down_title--tech::after {
  border-bottom: 3px solid var(--tibame-blue);
}

.courses-drop-down_title--career::after {
  border-bottom: 3px solid var(--color-orange);
}

.courses-drop-down_title--lang::after {
  border-bottom: 3px solid var(--color-purple);
}

.courses-drop-down_item {
  max-width: 350px;
}

.courses-drop-down_link {
  padding: 8px;
  display: flex;
}

.courses-drop-down_link:hover {
  background-color: var(--grey-light-3);
}

.courses-drop-down_link_icon {
  padding-right: 8px;
  padding-top: 4px;
}

.courses-drop-down_link_icon--tech {
  color: var(--tibame-blue);
}

.courses-drop-down_link_icon--career {
  color: var(--color-orange);
}

.courses-drop-down_link_icon--lang {
  color: var(--color-purple);
}

.courses-drop-down_link_text h3 {
  margin-bottom: 4px;
}

.courses-drop-down_link_text span {
  font-size: 14px;
  color: var(--grey-light);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.courses-drop-down_type .courses-drop-down_title {
  border-bottom: none;

  display: flex;
  align-items: center;
}

.courses-drop-down_type_icon {
  padding-right: 15px;
}

.courses-drop-down_type_item {
  margin-bottom: 20px;
}

.courses-drop-down_type_link h3 {
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.courses-drop-down_type_link:hover h3 {
  color: var(--tibame-blue);
}

.courses-drop-down_type_link span {
  font-size: 16px;
  color: var(--grey-light);
}

.courses-drop-down_type_tags {
  max-width: 350px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.courses-drop-down_type_tag {
  font-size: 16px;
  font-weight: 600;
}

.courses-drop-down_type_tag a {
  display: inline-block;
  transition: color 0.3s ease;
}

.courses-drop-down_type_tag:hover a {
  color: var(--tibame-blue);
}
/* Courses Drop Down */

/* Events Drop Down */
.navigation_events-drop-down {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 99;

  width: 180px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;

  display: none;
}

.navigation_item:nth-child(6):hover .navigation_events-drop-down {
  display: flex;
}

.navigation-drop-down_invisible-overlay {
  position: absolute;
  top: -30px;
  left: 0;
  width: 80%;
  height: 30px;
  background-color: transparent;
}

.navigation_events-drop-down_links {
  width: 100%;
}

.navigation_events-drop-down_list {
  position: relative;
}

.navigation_events-drop-down_link {
  padding: 10px;
}

.navigation_events-drop-down_item:hover .navigation_events-drop-down_link {
  color: var(--grey);
  background-color: var(--grey-light-3);
}

.navigation_events-drop-down_events {
  width: 200%;
  min-height: 260px;
  background-color: #fff;
  padding: 10px 20px;
  border-left: 1px solid var(--grey-light-2);
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;

  position: absolute;
  top: -8px;
  left: 100%;
  z-index: 2;

  display: none;
}

.navigation_events-drop-down_link:hover + .navigation_events-drop-down_events,
.navigation_events-drop-down_events:hover {
  display: block;
}

.navigation_events-drop-down_event {
  margin-bottom: 15px;
}

.navigation_events-drop-down_event:hover {
  color: var(--tibame-blue);
}
/* Events Drop Down */

/* Landing */
.section-landing {
  padding: 50px 0;
  padding-top: 130px;
}

.landing_content {
  position: relative;
  overflow: hidden;
}

.landing_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  color: var(--tibame-blue);
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_button:hover {
  color: #fff;
  background-color: var(--tibame-blue);
}

.landing_button--right {
  right: calc(50% - 480px - 55px);
}

.landing_button--left {
  left: calc(50% - 480px - 55px);
}

.landing_carousel {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.landing_card {
  flex-shrink: 0;
  width: 960px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
  transition: opacity 0.3s ease-in;

  border-radius: 9px;
  overflow: hidden;

  position: relative;
}

.landing_card:hover,
.landing_card--active {
  opacity: 1;
}

.landing_card_banner {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 10px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 7px;

  display: none;
}

.landing_card.landing_card--active .landing_card_banner {
  display: initial;
}

.landing_card_banner span {
  font-size: 16px;
  font-weight: 600;
}

.landing_card_banner span:nth-child(1) {
  color: var(--tibame-blue);
  padding: 4px 8px;
  border: 2px solid var(--tibame-blue);
}
/* Landing */

/* Features */
.section-features {
  padding: 50px 0;
}

.features {
  max-width: 960px;
  margin: 0 auto;
}

.features_title {
  text-align: center;
  margin-bottom: 50px;
}

.features_title h2 {
  color: var(--tibame-blue);
  margin-bottom: 20px;
}

.features_title h2 span {
  display: inline-block;
  color: #fff;
  background-color: var(--tibame-blue);
  padding: 5px 10px;
}

.features_cards {
  display: flex;
  justify-content: space-between;
}

.features_card {
  width: 30%;
}

.features_text {
  font-size: 16px;
}

.features_card_header {
  height: 140px;
  margin-bottom: 15px;
  border-radius: 7px;
  overflow: hidden;
}

.features_card_body {
  text-align: center;
}

.features_card_title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.features_card_text {
  font-size: 14px;
}
/* Features */

/* Courses Classes */
.courses_classes {
  padding: 50px 0;
  background-color: var(--bg-grey);
}

.classes {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.classes h2 {
  margin-bottom: 20px;
}

.classes_group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.classes_text {
  font-size: 18px;
}

.classes_text span {
  font-size: 28px;
  color: var(--tibame-blue);
  font-weight: 600;
}
/* Courses Classes */

/* Courses New&Hot */
.courses_new-courses {
  /* padding-top: 20px; */
  padding-bottom: 50px;
  background-color: var(--bg-grey);
}

.courses_hot-courses {
  padding: 50px 0;
}

.new-courses_title,
.hot-courses_title {
  text-align: center;
  margin-bottom: 40px;
}
/* Courses New&Hot */

/* Courses Card */
.courses_category-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.courses_category-button {
  font-size: 16px;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px 60px;
  border: 1px solid var(--border-grey);
  transition: background-color 0.3s ease-in;
}

.courses_category-button:hover {
  background-color: var(--grey-light-3);
}

.courses_category-button--active {
  font-weight: 600;
  color: #fff;
  background-color: var(--tibame-blue) !important;
}

.courses_cards {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

.courses_cards_item {
  width: 23%;
}

.courses_card {
  min-height: 350px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in;

  display: flex;
  flex-direction: column;

  position: relative;
}

.courses_card:hover {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.courses_card_banner {
  position: absolute;
  z-index: 2;
  padding: 4px 8px;
  border-radius: 3px;
}

.courses_card_banner--live {
  top: 10px;
  left: 10px;
  padding: 3px 6px;
  background-color: var(--color-red);
}

.courses_card_banner--subject {
  top: 0;
  left: 0;
  background-color: var(--color-green);
}

.courses_card_banner span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.courses_card_header {
  height: 160px;
  overflow: hidden;
}

.courses_card_header img {
  transition: transform 0.3s ease;
}

.courses_card:hover .courses_card_header img {
  transform: scale(1.15);
}

.courses_card_body {
  padding: 10px 10px 0 10px;
  flex-grow: 1;
}

.courses_card_footer {
  padding: 0 10px 10px 10px;
}

.courses_card_tags {
  font-size: 12px;
  font-weight: 600;
  color: var(--tibame-blue);
  margin-bottom: 6px;
}

.courses_card_tag.courses_card_tag--location {
  color: var(--grey-light);
}

.courses_card_title {
  font-size: 18px;
  margin-bottom: 6px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.courses_card_extra-info {
  font-size: 12px;
  color: var(--grey-light);
}

.courses_card_sale {
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid var(--color-orange);
  font-size: 12px;
}

.courses_card_sale span {
  display: inline-block;
}

.courses_card_sale_text {
  padding: 4px 8px;
  background-color: var(--color-orange);
  color: #fff;
}

.courses_card_sale_time {
  padding: 4px 8px;
  color: var(--grey-light);
}

.courses_card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
}

.courses_card_price {
  font-size: 18px;
  font-weight: 600;
  color: var(--tibame-blue);
}

.courses_card_price span {
  font-size: 12px;
}

.courses_card_view {
  font-size: 12px;
  color: var(--grey-light);
}

.courses_instructor {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.courses_instructor_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.courses_instructor_name {
  font-size: 16px;
  color: var(--grey-light);
}
/* Courses Card */

/* Recommend Vidoes */
.section-recommend-videos {
  padding: 60px 0;
  padding-bottom: 100px;
  background-color: var(--tibame-blue);
  overflow: hidden;
}

.recommend-videos_title {
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
}

.recommend-videos_title h2 {
  margin-bottom: 10px;
}

.recommend-videos_text span {
  color: var(--grey);
}

.recommend-videos_content {
  position: relative;
}

.recommend-videos_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding: 8px 16px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;

  font-size: 16px;
  font-weight: 600;
  color: var(--tibame-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.recommend-videos_button:hover {
  background-color: var(--tibame-blue);
  color: #fff;
}

.recommend-videos_button i {
  padding-left: 5px;
}

.recommend-videos_button i:nth-child(1) {
  padding-right: 5px;
}

.recommend-videos_button--right {
  right: calc(50% - 640px / 2 - 100px);
}

.recommend-videos_button--left {
  left: calc(50% - 640px / 2 - 100px);
}

.recommend-videos_videos {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.recommend-videos_video {
  width: 640px;
  flex-shrink: 0;
  border-radius: 9px;
  overflow: hidden;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;

  position: relative;
}

.recommend-videos_video:hover {
  opacity: 1;
}

.recommend-videos_video--active {
  opacity: 1;
  transform: scale(1.1);
  cursor: initial;
}

.recommend-videos_video_play {
  display: none;

  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.95);

  color: var(--tibame-blue);
}

.recommend-videos_video.recommend-videos_video--active
  .recommend-videos_video_play {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommend-videos_video--active .recommend-videos_video_header {
  cursor: pointer;
}

.recommend-videos_video_body {
  padding: 20px 20px 30px;
  background-color: #fff;
  text-align: center;
}

.recommend-videos_video_tags {
  margin-bottom: 8px;
}

.recommend-videos_video_tag {
  font-size: 14px;
  font-weight: 600;
}

.recommend-videos_video_tag--blue {
  color: var(--color-blue);
}

.recommend-videos_video_tag--grey {
  color: var(--grey-light);
}
/* Recommend Vidoes */

/* Recommend Classes */
.section-recommend-classes {
  padding: 50px 0;
  background-color: var(--bg-grey);
}

.recommend-classes_title {
  text-align: center;
  margin-bottom: 40px;
}

.recommend-classes_title h2 {
  margin-bottom: 10px;
}

.recommend-classes_text {
  font-size: 16px;
}

.recommend-classes_content {
  position: relative;
}

.recommend-classes_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--tibame-blue);
  background-color: #fff;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.recommend-classes_button:hover {
  color: #fff;
  background-color: var(--tibame-blue);
}

.recommend-classes_button--right {
  right: 25px;
  transform: translate(0, -50%);
}

.recommend-classes_button--left {
  left: 25px;
  transform: translate(0, -50%);
}

.recommend-classes_courses {
  display: flex;
  overflow: hidden;
}

.recommend-classes_cards {
  width: 100%;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.recommend-classes_card {
  width: 28%;
  height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  overflow: hidden;

  position: relative;
}

.recommend-classes_card_date {
  position: absolute;
  top: 0;
  left: 0;

  padding: 5px 10px;
  background-color: var(--color-green);
  border-radius: 3px;
  border-top-left-radius: 0;
}

.recommend-classes_card_date span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.recommend-classes_card_text {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 85%;
  transform: translate(-50%, -50px);
}

.recommend-classes_card_text {
  text-align: center;
}

.recommend-classes_card_theme {
  display: inline-block;
  font-size: 12px;
  color: #f8ff76;
  margin-bottom: 8px;
}

.recommend-classes_card_title {
  font-size: 18px;
  color: #fff;
}

.recommend-classes_card_info {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 80%;
  transform: translate(-50%, 40px);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);

  display: flex;
  justify-content: center;
  gap: 10px;
}

.recommend-classes_location i,
.recommend-classes_time i {
  margin-right: 3px;
}
/* Recommend Classes */

/* Blogs */
.section-blogs {
  padding: 50px 0;
}

.blogs {
  max-width: 960px;
  margin: 0 auto;
}

.blogs_title {
  text-align: center;
  margin-bottom: 30px;
}

.blogs_list {
  height: 500px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.blog {
  width: 47.5%;
  min-height: 100px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.blog_order {
  font-size: 64px;
  font-weight: 600;
  color: transparent;
  font-style: italic;
  -webkit-text-stroke: 1px var(--grey-light-2);
}

.blog_content {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-grey);
}

.blog_tags {
  font-size: 12px;
  font-weight: 600;
  color: var(--tibame-blue);
  margin-bottom: 8px;
}

.blog_tag {
  margin-right: 10px;
}

.blog_link {
  transition: color 0.3s ease-in;
}

.blog_title:hover .blog_link {
  color: var(--tibame-blue);
}
/* Blogs */

/* Services */
.section-services {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./img/home-background-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  max-width: 960px;
  margin: 0 auto;
}

.services_title {
  text-align: center;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px;
}

.services_title h2 {
  margin-bottom: 30px;
}

.services_text {
  font-size: 18px;
}

.services_buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.services_link {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey-light);
  padding: 10px 30px;
  border-radius: 6px;
  background-color: var(--grey-light-3);
  transition: color 0.3s ease;
}

.services_button:hover .services_link {
  color: var(--tibame-blue);
}
/* Services */

/* Footer */
.footer {
  padding: 60px 0;
  background-color: var(--bg-grey);

  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer_title {
  margin-bottom: 15px;
}

.footer_header {
  font-size: 18px;
}

.footer_category {
  display: flex;
  flex-direction: column;
}

.footer_category:nth-child(2) {
  margin-top: 20px;
}

.footer_item {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer_item:hover .footer_link {
  color: var(--grey-light);
  text-decoration: underline;
}

.footer_socials {
  display: flex;
  gap: 10px;
}

.footer_social_link {
  padding: 3px 6px;
  background-color: var(--grey-light-2);
}

.footer_social:hover .footer_social_link {
  background-color: var(--grey-light);
}

.footer_download-app_link {
  width: 100px;
}

.footer_languages_button {
  font-size: 18px;
  padding: 10px 30px;
  border: 1px solid var(--grey-light-2);
  border-radius: 6px;
}

.footer_languages_selector {
  background-color: #fff;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  display: none;
}

.footer_languages_selector--show {
  display: block;
}

.footer_languages_selector button {
  font-size: 16px;
  text-align: left;
  width: 100%;
  padding: 10px 20px;
  background-color: inherit;
  border-radius: 6px;
}

.footer_languages_selector button:hover {
  background-color: var(--bg-grey);
}
/* Footer */
